body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

strong {
  font-weight: bold;
  color: #333;
}

img {
  display: block;
  margin: auto;
  height: 200px;  /* specify the height of the image here */
  line-height: 200px;  /* set the line-height to the same value as the height */
}